In [29]:
# Dependencies
import pandas as pd

In [30]:
# load CSV
bootcamp=pd.read_csv("resources/2016-FCC-New-Coders-Survey-Data.csv",low_memory=False)

In [31]:
# Read with pandas
bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [32]:
# Inspect all columns
bootcamp.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [33]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
bootcampselect=bootcamp.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
bootcampselect.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [35]:
# Change "0" to "No" and "1" to "Yes" in response columns
replacements={
    0.0:"No",
    1.0:"Yes"
}
bootcampselect.replace(replacements,inplace=True)
bootcampselect.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [36]:
# Calculate total number of respondents in survey
count_survey=len(bootcampselect.index)

In [37]:
# Extract rows corresponding only to people who attended a bootcamp
bools=[]
for attendee in bootcampselect['AttendedBootcamp']:
    if attendee == "Yes":
        bools.append(True)
    else:
        bools.append(False)
attendees=pd.Series(bools)
bootcampattendee=bootcampselect[attendees]
count_attendees=len(bootcampselect[attendees].index)
average_age=round(bootcampattendee['Age'].mean(),2)

In [38]:
# Calculate average age of attendees

# Calculate how many people attended a bootcamp
bootcamp=round(count_attendees/count_survey*100,2)



# Calculate how many attendees hold degrees
degree=bootcampattendee.groupby('SchoolDegree')
count_degree=degree['AttendedBootcamp'].count().sum()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

gender_female=bootcampattendee[bootcampattendee.Gender=="female"]
gender_male=bootcampattendee[bootcampattendee.Gender=="male"]
gender=bootcampattendee["Gender"].count()
print(gender)
gender_female_count=gender_female['AttendedBootcamp'].count()
gender_male_count=gender_male['AttendedBootcamp'].count()
# Calculate percentage of respondents who attended a bootcamp
bootcamp=round(count_attendees/count_survey*100,2)
# Calculate percentage of respondents belonging to each gender
male=round(gender_male_count/gender*100,2)
female=round(gender_female_count/gender*100,2)
# Calculate percentage of attendees with a school degree
percent_degree=round(count_degree/count_attendees*100,2)
# Calculate average post-bootcamp salary

avg_postsal=bootcampattendee["BootcampPostSalary"]
average_post_bootcamp_salary=round(avg_postsal.mean())

833

In [39]:
# Create a new table consolodating above calculations

pdf=pd.DataFrame({"Total Surveyed":count_survey,"Total Bootcamp attendees":count_attendees,"% attended bootcamp":bootcamp, 
           'Aver. Age':average_age,"Has a degree":percent_degree,
          "% Male":male,"% Female":female,"% Non Gender Specific":100-(male+female),"Average Post Bootcamp Salary":average_post_bootcamp_salary
                 },index=[0])

pdf

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Aver. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.1,31.07,87.3,59.54,39.14,1.32,63741

In [45]:
# Improve formatting before outputting spreadsheet
average_post_bootcamp_salary= (f'$ {average_post_bootcamp_salary:,.2f}')
average_post_bootcamp_salary

'$ 63,741.00'

In [46]:
# Export to Excel
pdf.to_excel("BootcampOutputPart_output.xlsx")